*.class
IAmWritingFiveChess/.classpath
IAmWritingFiveChess/.project
IAmWritingFiveChess/.settings/org.eclipse.jdt.core.prefs
.classpath
.project
IAmWritingFiveChess/.idea/workspace.xml
.idea/workspace.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/RobotGobang.iml
IAmWritingFiveChess/out/production/RobotGobang/robot/background.jpg
IAmWritingFiveChess/out/production/RobotGobang/background.jpg
IAmWritingFiveChess/out/production/IAmWritingFiveChess/background.jpg
IAmWritingFiveChess/out/production/IAmWritingFiveChess/MyFiveChess/background.jpg
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/misc.xml
IAmWritingFiveChess/.idea/modules.xml
IAmWritingFiveChess/.idea/IAmWritingFiveChess.iml
IAmWritingFiveChess/.idea/misc.xml
IAmWritingFiveChess/.idea/encodings.xml
IAmWritingFiveChess/.idea/vcs.xml
